<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span class="text-primary">Task Management &copy; All Rights Reserved 2024</span>
        </div>
    </div>
</footer>
